.main_hero{

  position: relative;
  .inner_hero{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

    p{
      width: 50%;
    }
  }
  h2{
    font : {
      size: 60px;
      family : $primaryFont;
      line-height: 1.2;

    }
   
    strong{
      font-size: 35px;
      color: $Primarybg;
      

    }

  }

}